.font {
    width: 95%;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



#SignInForm {
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formsClass {
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 95%;
    padding: 12px 20px;
    margin: 20px 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}